<div class="container">
  <div *ngIf="result.count > 0 then commentsBlock  ; else noCommentsBlock"> </div>
</div>

<ng-template #commentsBlock>
  <span class='total-comments'>Total Comments {{result.count}}  </span>
    <div *ngFor="let c of result.comments">
      <app-commentbox [comment]="c"></app-commentbox>
    </div>
  <br>
  <h1>Col Size : {{collectionSize}}</h1>
  <h1>page num : {{ page}} </h1>
  <app-pagination [collectionSize]="collectionSize" [pageSize]="9" [page]="page" (pageNumba)="onPageChange($event)">
  </app-pagination>
</ng-template>

<ng-template #noCommentsBlock>

</ng-template>
