<div class="container">
  <div *ngIf="result.count > 0 then commentsBlock  ; else noCommentsBlock"> </div>
</div>

<ng-template #commentsBlock>
  <span class='total-comments'> Comments {{ currentPage  * 6}} / {{collectionSize}}  </span>
    <div *ngFor="let c of result.comments">
      <app-commentbox [comment]="c" ></app-commentbox>
    </div>
  <br>
  <hr>
  Col Size : {{collectionSize}}
  page num : {{ page}} 

  <app-pagination (pageNumba)="getComments($event)" [m_id]="markerId" [collectionSize]="collectionSize">
  </app-pagination>
</ng-template>

<ng-template #noCommentsBlock>

</ng-template>
