<div class="container">
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="form-group">
      <label for="placeName" id="labelPlaceName">Place Name</label>
      <input type="text" class="form-control" aria-describedby="place name" placeholder="Enter place name"
        formControlName="name" required>
      <div *ngIf="form.get('name').invalid" class="invalid-feedback"> Place name is required </div>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" aria-describedby="address" placeholder="Street or avenue name, number"
        formControlName="address" required>
      <div *ngIf="form.get('address').invalid" class="invalid-feedback">Place's address is required </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="placeDescription" formControlName="description" rows="3"></textarea>
    </div>


    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <button type="button" class="btn btn-secondary btn-sm" (click)="fileUploader.click()"> Pick Image</button>
          <input type="file" #fileUploader accept="image/x-png,image/gif,image/jpeg" (change)="onFileChanged($event)">
        </div>
        <div class="col-md-6">
          <div class="image_preview" *ngIf="imagePreview" >
             <div class="card" style="width: 18rem;">
               <img class="card-img-top" [src]="imagePreview" [alt]="title">
               <div class="card-body">
                 <h5 class="card-title"> {{title}}</h5>
               </div>
               <ul class="list-group list-group-flush">
                 <li class="list-group-item">Size : {{this.form.get('image').size}}</li>
                 <li class="list-group-item">Type : {{this.form.get('image').type}}</li>
               </ul>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!form.valid" class="form-control btn btn-light">Submit</button>
    </div>
  </form>
</div>
