<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label for="placeName" id="labelPlaceName">Place Name</label>
      <input type="text" class="form-control" aria-describedby="place name" placeholder="Enter place name"
        formControlName="name" >
      <div class="invalid-feedback"> Place name is required </div>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" aria-describedby="address" placeholder="Street or avenue name, number"
        formControlName="address" >
      <div *ngIf="form.get('address').invalid" class="invalid-feedback">Place's address is required </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="placeDescription" formControlName="description" rows="3">Just description</textarea>
    </div>


    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <button type="button" class="btn btn-secondary btn-sm" (click)="fileUploader.click()"> Pick Image</button>
          <input type="file" #fileUploader  (change)="onFileChanged($event)">
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="form-control btn btn-light">Submit</button>
    </div>
  </form>
</div>
