.navbar {
  background-color: #333;
  margin-bottom:80px;
}

.navlightcolor {
  color: black;
}

.btn-outline-secondary {
  margin : 0 20px;
  width: 110px;
  display: inline-block;
  padding : 0 auto;
}
