<div class="container">
    <div *ngIf="result.count > 0 then commentsBlock  ; else noCommentsBlock">  </div>
</div>

<ng-template #commentsBlock>
    <h2>Total Comments {{result.count}} </h2>
    <div class="row">
            <div class="col-4" *ngFor="let c of result.comments">
                <app-commentbox [comment]="c"></app-commentbox>
            </div>
    </div>

<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
</ng-template>


<ng-template #noCommentsBlock>
<app-star-rate></app-star-rate>
</ng-template>
