<div class="row">
  <div class="col-md-5 offset-md-1">
    <div class="card rounded mb-2">
      <div class="card-header headerbgcolor">
        <span>someUserName </span> <span>13-02-2013 </span>
      </div>
      <div class="card-text p-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum cumque labore nostrum
        quam incidunt quo sit,...
        <div class="rating">
          <span class="star"></span>
          <i class="fa fa-star fa-2x mx-1" aria-hidden="true"></i>
          <i class="fa fa-star fa-2x mx-1" aria-hidden="true"></i>
          <i class="fa fa-star fa-2x mx-1" aria-hidden="true"></i>
          <i class="fa fa-star fa-2x mx-1" aria-hidden="true"></i>
          <i class="fa fa-star fa-2x mx-1" aria-hidden="true"></i>
        </div>
      </div>
    </div>


  </div>
